@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

* {
  @apply transition-colors duration-200;
}
